[viewBag]
==
<script src="{{ ['assets/js/jquery.min.js',
                'assets/js/skel.min.js',
                'assets/js/util.js',
                'assets/js/main.js',
			    '@framework',
                '@framework.extras']|theme }}"></script>
                
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>WebFont.load({google:{families:['Source+Sans+Pro:300italic,600italic,300,600']}});</script>

{% scripts %}