description = "Default Layout for Fastport pages"
==
<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    {% partial "html_base/meta_head" %}
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        {% partial 'home/header' %}

        <!-- Main -->
        <div id="main">

            {% page %}

        </div>

        <!-- Footer -->
        {% partial 'home/footer' %}

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    {% partial "html_base/scripts" %}

</body>

</html>