==
<header id="header">
    <div class="logo">
        <span class="icon fa-plane"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>FastPort</h1>
            <p>
                <!--[-->Revolutionizing Travel for Everyone.
                <!--]--><br />
                <!--[-->Your one-stop app for all your e-passport needs
                <!--]-->
            </p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#login">Login</a></li>
            <li><a href="#work">Register</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>