description = "Login Card"
==
<article id="login">
    <h2 class="major">Login</h2>
    <div class="confirm-container">
        
    </div>
    <form class="LoginForm" role="form" data-request="pageForm::onLoginAttempt" data-request-update="'pageForm::response': '.confirm-container'">
        <div class="field first">
            <label for="username">Username*</label>
            <input type="text" name="username" id="username" />
        </div>
        <!-- <div class="field half">
            <label for="email">Password</label>
            <input type="text" name="email" id="email" />
        </div> -->
        <div class="field">
            <label for="password">Password*</label>
            <input name="password" id="password" type="password"></input>
        </div>
        <ul class="actions">
            <li><input type="submit" value="Login" class="special" /></li>
        </ul>
    </form>
</article>