description = "Profile Landing"
==
<header id="header">
    <div class="logo">
        <span class="icon fa-plane"></span>
    </div>
    <nav>
        <ul>
            <li><a href="#profile">Profile</a></li>
            <li><a href="#passport">Passport</a></li>
            <li><a href="#sos">S.O.S</a></li>
            <li><a href="#flights">Flights</a></li>
            <li><a href="#booking">Booking</a></li>
        </ul>
    </nav>
    <div class="logo">
        <a href="/logout" style="text-decoration: none">Logout</a>
    </div>
</header>