[viewBag]
==
<article id="contact">
    <h2 class="major">Contact</h2>
    <div class="confirm-container">
        <!--This will contain the confirmation when the email is successfully sent-->
    </div>
    <form class="ContactUsForm" role="form" data-request="contactForm::onMailSent" data-request-update="'contactForm::confirm': '.confirm-container'">
        <div class="field half first">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
        </div>
        <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
        </div>
        <input type="hidden" name="subject" id="subject" value="{{ this.theme.site_name }} Contact Form" />
        <div class="field">
            <label for="body">Message</label>
            <textarea name="body" id="body" rows="4"></textarea>
        </div>
        <ul class="actions">
            <li><input type="submit" value="Send Message" class="special" /></li>
            <li><input type="reset" value="Reset" /></li>
        </ul>
    </form>
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</article>